<div class="jumbotron bg-white text-center mt-5 px-4">
  <h1 class="display-4"> Corona Covid-19 Tracker</h1>
  <hr>
  <app-dashboard-card
    [totalConfirmed]= "totalConfirmed"
    [totalActive]= "totalActive"
    [totalRecovered]= "totalRecovered"
    [totalDeaths]= "totalDeaths"
  ></app-dashboard-card>

</div>
<br>
<div class="row ">
  <div class="col-md-6">
    <google-chart [data]="columnChart"></google-chart>
  </div>
  <div class="col-md-6">
    <google-chart [data]="pieChart"></google-chart>
  </div>
</div>


